/* Configurar a estrutura do layout */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a página ocupe toda a altura da janela */
}

.content {
  flex: 1; /* Permite que o conteúdo principal ocupe o espaço disponível */
}


